@font-face { font-family: GroceryRounded; src: url('../fonts/GroceryRounded.ttf'); }

/* Set Up */
html {
  height: 100%;
}

main {
  flex: 1;
  background-color: white;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: inherit;
}

h1 {
  font-size: 40px;
}

h2, p#account {
  font-size: 30px;
}

h3, p#recipe {
  font-size: 26px;
}

p {
  font-size: 22px;
}


header, h1, h2, h3, p, a {
  font-family: GroceryRounded, sans-serif;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/*---*/

/* Navigation Sidebar */
nav {
  height: 100%;
  width: 95px;
  background-color: #581845;
  overflow-y: auto;
  border-bottom-right-radius: 10px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

nav a:hover {
  color: #3f900c;
  border-right: .3rem solid #3f900c;
}

nav a i {
  vertical-align: middle;
}
/*---*/

/* Page Body */
.flex-body {
  height: 100%;
  width: calc(100% - 95px - 20%);
  display: flex;
  flex-direction: column;
}
/*---*/

/* Logo */
.flex-header img {
  height: 40px;
  display: flex;
  padding: 1rem;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}
/*---*/

/* Header */
.flex-header {
  height: 73.49px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #581845; /*DEBUG*/
}

.flex-header h1 {
  height: 73.49px;
  width: 200px;
  color: white;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-header .searchBox {
  height: 73.49px;
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #581845; /*DEBUG*/
}

.flex-header .searchBox > input {
  display: flex;
  padding-left: .5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.flex-header .searchBox > button {
  background-color: transparent;
  color: white;
  padding-right: 1rem;
  border: none;
}
/*---*/

/* Page Content */
.flex-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*---*/

/* Grocery Cards */
.flex-grocery-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-grocery-cards .flex-g-card, .flex-aside .list, .flex-aside .suggested {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  height: 95%;
}

.flex-grocery-cards .flex-g-card {
  width: 24rem;
}

.flex-aside .list, .flex-aside .suggested {
  width: 90%;
  align-items: center;
  background-color: #cfeeff;
}
  
.flex-grocery-cards .flex-g-card > h2, .flex-aside .list > h2, .flex-aside .suggested > p#recipe {
  height: 40px;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: .5rem; 
}

#expired {
  background-color:  #ffcfcf;
}

#caution {
  background-color:  #fff6cf;
}

#fresh {
  background-color:  #cfffd0;
}

#expired > div, #caution > div, #fresh > div, .list > div, .suggested > div {
  display: inline-flex;
  flex-direction: row;
  padding: 0px 5px;
  justify-content: space-between;
}

.flex-grocery-cards .flex-g-card > div > * {
  display: inline-block;
}
/*---*/

/* Recipe Cards */
.flex-recipe-cards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  justify-content: space-around;
}

.flex-recipe-cards .r-card {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  width: 12rem;
  height: 250px;
}

.flex-recipe-cards .r-card > img {
  width: 100%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  padding-bottom: 0;
}

.flex-recipe-cards .r-card p#recipe, p {
  text-align: center;
  margin: 0;
}

.flex-recipe-cards .r-card p {
  padding-bottom: .5rem;
}

.flex-recipe-cards .r-card .flex-recipe-buttons {
  display: flex;
  flex-direction: row;

}

.flex-recipe-cards .r-card .flex-recipe-buttons > div {
  height: 100%;
  width: 50%;
}

#like {
  height: 2rem;
  filter: grayscale(100%);
}

#add {
  padding-top: 7px;
  padding-left: 45px;
}

#peach {
  padding-right: 5px;
}

#fav > div > div#peach > img, #favorite > img {
  filter: none;
}

/* Page Aside */
.flex-aside {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* Settings */
.settings, .list > div, .suggested > div, .flex-g-card > div {
  display: inline-flex;
  flex-direction: row;
  line-height: 45px;
  align-items: center;
  font-family: GroceryRounded, sans-serif;
}

.settings {
  justify-content: center;
  background-color: #581845;
  height: 73.49px;
}

.settings div, .list div > div, .suggested div > div, .flex-g-card > div * {
  padding: .5rem;
  display: flex;
}

.flex-g-card > div > div {
  justify-content: space-between;
}

.settings i {
  color: white;
}

.settings p#account {
  height: 73.49px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.settings img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
}
/*---*/

#form-header {
  width: 100%;
}

/* Form Image */
#form-rec-pic {
  height: 30%;
  width: 20%;
  border-bottom-right-radius:  50%;
  overflow: hidden;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* Grocery Images */
#grocery {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

table {
  width: 100%;
  padding-bottom: 1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  border-collapse: separate;
  border-spacing: 0 15px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: .5rem;
}

footer * {
  display: inline;
  padding: .5rem;
}

.contact {
  padding-right: 0;
}

footer address {
  padding-left: 0;
}

footer a {
  text-decoration: none;
  font-size: 22px;
}
/*---*/