@font-face { font-family: GroceryRounded; src: url('../fonts/GroceryRounded.ttf'); }

html {
	height: 100%;
}

header, nav {
	font-family: GroceryRounded, sans-serif;
}

header {
	padding-left: 90px;
	padding-top:;
}

body {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: inherit;
}

main {
	flex: 1;
}

main > div {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

/*Navigation Bar*/
.sidenav {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #581845;
  padding-top: .0;
  list-style: none;
}

.sidenav > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidenav a {
  color: white;
  transition: none;
  position: static;
  transform: none;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 1.5;
  border-radius: 0;
  margin: 0 0 0;
  padding: 0;
  background: transparent;
  white-space: normal;
  word-wrap: break-word;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.sidenav a:hover {
  color: #3f900c;
  border-right: .3rem solid #3f900c;
}

.sidenav i {
  transform: translate3d(0, 0, 0);
  position: relative;
  z-index: 1;
  width: 48px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.sidenav li {
	padding: 0 0;
}

.e-card img {
	height: 24px;
	border-radius: 10px
}

.e-card {
	display: inline-block;
	padding-left: 100px;
	border-color: #3f900c;
}

.e-card li {
	list-style: none;
}